label, textarea, input[type=text]{
    display: block;
    width: 100%;
    margin:10px 0;
}
input[type=text]{
    padding: 5px;
}
button{
    width:100px;
    padding:10px;
    border: none;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 1.2em;
}
label > h3{
    color: #464646;
    font-size: 1.2em;
}